$list: (768px, 720px, 640px, 540px, 480px, 414px, 412px, 400px, 393px, 375px, 360px, 345px, 320px);

@each $screen in $list {
    @media only screen and (max-width: $screen ) {
        html {
            font-size: ($screen / 10);
        }
    }
}

html {
    font-size: 10vw;
    -webkit-text-size-adjust: none;
}

body {
    line-height: 1.5;
    font-size: 16px;
}
